profile = janestreet

leading-nested-match-parens = false
space-around-variants = true
space-around-arrays = true
space-around-lists = true
space-around-records = true
break-infix = fit-or-vertical
break-separators = after
exp-grouping = preserve
let-and = sparse
type-decl = sparse
function-indent=4
cases-exp-indent = 4
extension-indent=4
indent-after-in=4
match-indent=0
cases-exp-indent=4
if-then-else=k-r
break-fun-sig=fit-or-vertical
